.mypage1__left
  .mypage1__left__main
    = link_to"#" , class: :mypage1__main__container do
      %h4 マイページ
      %i.fas.fa-chevron-right
    = link_to"/" , class: :mypage1__main__container do
      %h4 お知らせ
      %i.fas.fa-chevron-right
    = link_to"/" , class: :mypage1__main__container do
      %h4 やることリスト
      %i.fas.fa-chevron-right
    = link_to"#" , class: :mypage1__main__container do
      %h4 イイね！一覧
      %i.fas.fa-chevron-right
    = link_to"/" , class: :mypage1__main__container do
      %h4 出品する
      %i.fas.fa-chevron-right
    = link_to"/" , class: :mypage1__main__container do
      %h4 出品した商品-出品中
      %i.fas.fa-chevron-right
    = link_to"#" , class: :mypage1__main__container do
      %h4  出品した商品-取引中
      %i.fas.fa-chevron-right
    = link_to"/" , class: :mypage1__main__container do
      %h4  出品した商品-売却中
      %i.fas.fa-chevron-right
    = link_to"/" , class: :mypage1__main__container do
      %h4 購入した商品-取引中
      %i.fas.fa-chevron-right
    = link_to"#" , class: :mypage1__main__container do
      %h4 購入した商品-過去の取引
      %i.fas.fa-chevron-right
    = link_to"/" , class: :mypage1__main__container do
      %h4 ニュース一覧
      %i.fas.fa-chevron-right
    = link_to"/" , class: :mypage1__main__container do
      %h4 評価一覧
      %i.fas.fa-chevron-right
    = link_to"/" , class: :mypage1__main__container do
      %h4 ガイド
      %i.fas.fa-chevron-right
    = link_to"/" , class: :mypage1__main__container__end do
      %h4 お問い合わせ
      %i.fas.fa-chevron-right

  %h3.mypage1__left__h3 メルペイ 
  .mypage1__left__main
    = link_to"#" , class: :mypage1__main__container do
      %h4 プロフィール
      %i.fas.fa-chevron-right
    = link_to"#" , class: :mypage1__main__container__end do
      %h4 発送元・お届け先住所変更
      %i.fas.fa-chevron-right

  %h3.mypage1__left__h3 設定 
  .mypage1__left__main
    .mypage1__main__sidebar
      = link_to"#" , class: :mypage1__main__container do
        %h4 支払い方法
        %i.fas.fa-chevron-right
      = link_to"#" , class: :mypage1__main__container do
        %h4 メール/パスワード
        %i.fas.fa-chevron-right
      = link_to"#" , class: :mypage1__main__container do
        %h4 本人情報
        %i.fas.fa-chevron-right
      = link_to"#" , class: :mypage1__main__container do
        %h4 電話番号
        %i.fas.fa-chevron-right
      = link_to"#" , class: :mypage1__main__container__end do
        %h4 ログアウト
        %i.fas.fa-chevron-right