%body

.main
  .main__header-images
    %a= image_tag 'topimage2.jpg' ,class: "image2"

  .main__popular-category
    .main__popular-category__upbox
      %h2 人気のカテゴリー
    .main__popular-category__downbox
      %ul
        %li レディース
        %li メンズ
        %li 家電・スマホ・カメラ
        %li おもちゃ・ホビー・グッズ
  .main__contents
    .main__contents__itemlist
      .main__contents__itemlist__titlebar
        %h2 レディース新着アイテム
        = link_to 'もっと見る ＞', 'https://www.mercari.com/jp/signup/' ,class: "morelink"
      
      .main__contents__itemlist__items
        .onebox
          .upbox
            %span.price ¥800
            = image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/David_-_Napoleon_crossing_the_Alps_-_Malmaison1.jpg/540px-David_-_Napoleon_crossing_the_Alps_-_Malmaison1.jpg", class: "image")
          .downbox
            ナポレオン・ボナパルト

        .onebox
          .upbox
            %span.price ¥800
            = image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Vig%C3%A9e-Lebrun_Marie_Antoinette_1783.jpg/400px-Vig%C3%A9e-Lebrun_Marie_Antoinette_1783.jpg", class: "image")
          .downbox
            マリー・アントワネット

        .onebox
          .upbox
            %span.price ¥800
            = image_tag("https://iroiro.co/media/images/culture/2017/liberty-guiding-the-people.jpg", class: "image")
          .downbox
            フランス革命

        .onebox
          .upbox
            %span.price ¥800
            = image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/VanGogh_1887_Selbstbildnis.jpg/500px-VanGogh_1887_Selbstbildnis.jpg", class: "image")
          .downbox
            ゴッホ

        .onebox
          .upbox
            %span.price ¥800
            = image_tag("https://cdn-ak.f.st-hatena.com/images/fotolife/n/naichilab/20190114/20190114010820.png", class: "image")
          .downbox
            ギットハブ

        .onebox
          .upbox
            %span.price ¥800
            = image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Pablo_picasso_1.jpg/460px-Pablo_picasso_1.jpg", class: "image")
          .downbox
            パブロ・ピカソ

        .onebox
          .upbox
            %span.price ¥800
            = image_tag("http://blog-imgs-49.fc2.com/k/u/w/kuw0703/20141112202331759.jpg", class: "image")
          .downbox
            泣く女

        .onebox
          .upbox
            %span.price ¥800
            = image_tag("https://cdn.pixabay.com/photo/2015/12/15/05/43/starry-night-1093721_960_720.jpg", class: "image")
          .downbox
            ギットハブ
        .onebox
          .upbox
            %span.price ¥800
            = image_tag("https://i.pinimg.com/originals/52/ea/be/52eabecf424b217807d0e557b9a0c38e.jpg", class: "image")
          .downbox
            ギットハブ
        .onebox
          .upbox
            %span.price ¥10,000
            = image_tag("https://bacchi.me/wp-content/uploads/2014/06/github_img4.jpg", class: "image")
          .downbox
            ギットハブ


  

  .main__exhibit-btn
    %p
    = link_to '出品', '/item/new' ,class: "e-btn"
    %br
    %i.fas.fa-camera.fa-3x

.footer
  .footer__upbox
    = image_tag "footer.jpg", class: "footer-image"
  .footer__downbox
    .footer__downbox__menu
      .group
        %h3 メルカリについて
        %ul
          %li 会社概要（運営会社）
          %li 採用情報
          %li プレスリリース
          %li 公式ブログ
          %li メルカリロゴ利用ガイドライン
      .group
        %h3 ヘルプ＆ガイド
        %ul
          %li メルカリガイド
          %li らくらくメルカリ便
          %li ゆうゆうメルカリ便
          %li 大型メルカリ便
          %li 車体取引ガイド
          %li メルカリあんしん・あんぜん宣言！
          %li 偽ブランド品撲滅への取り組み
          %li メルカリボックス
      .group
        %h3 プライバシーと利用規約
        .group__list2
          %ul.leftlist
            %li プライバシーポリシー
            %li メルカリ利用規約
            %li あんしんスマホサポート制度に関する利用規約
            %li コンプライアンスポリシー
          %ul.rightlist
            %li 個人データの安全管理に係る基本方針
            %li 特定商取引に関わる表記
            %li 資金決済法に基づく表示
            %li 法令順守と犯罪抑止のために
      .group
        %h3 国
        %ul
          %li 日本
          %li United States

    .footer__downbox__logobar
      = link_to image_tag("https://web-jp-assets.mercdn.net/_next/static/images/logo-white-1a0696cf557ee1ed6f3c3444661d21ad.svg",class: "logo"), root_path
      %p.name ©️2019 Mercari

