%body
= render 'layouts/header'

.main
  .main__header-images
    %a= image_tag 'topimage2.jpg' ,class: "image2"

  .main__popular-category
    .main__popular-category__upbox
      %h2 人気のカテゴリー
    .main__popular-category__downbox
      %ul
        %li レディース
        %li メンズ
        %li 家電・スマホ・カメラ
        %li おもちゃ・ホビー・グッズ
  .main__contents
    .main__contents__itemlist
      .main__contents__itemlist__titlebar
        %h2 レディース新着アイテム
        = link_to 'もっと見る ＞', 'https://www.mercari.com/jp/signup/' ,class: "morelink"

      .main__contents__itemlist__items
        - @items.each do |item_list|
          .onebox
            = link_to '', item_path(item_list),class: "show-item-link"
            .upbox

              - if item_list.status == 1
                .sold-bar
                .sold-text SOLD
                %span.price
                  ¥#{item_list.price}
                = image_tag("#{item_list.images[0].main_image}", class: "image")
              - else
                %span.price
                  ¥#{item_list.price}
                = image_tag("#{item_list.images[0].main_image}", class: "image")

            .downbox
              = item_list.name

  .main__exhibit-btn
    %p
    = link_to '出品',new_item_path ,class: "e-btn"
    %br
    %i.fas.fa-camera.fa-3x

.footer
  .footer__upbox
    = image_tag "footer.jpg", class: "footer-image"
  .footer__downbox
    .footer__downbox__menu
      .group
        %h3 メルカリについて
        %ul
          %li 会社概要（運営会社）
          %li 採用情報
          %li プレスリリース
          %li 公式ブログ
          %li メルカリロゴ利用ガイドライン
      .group
        %h3 ヘルプ＆ガイド
        %ul
          %li メルカリガイド
          %li らくらくメルカリ便
          %li ゆうゆうメルカリ便
          %li 大型メルカリ便
          %li 車体取引ガイド
          %li メルカリあんしん・あんぜん宣言！
          %li 偽ブランド品撲滅への取り組み
          %li メルカリボックス
      .group
        %h3 プライバシーと利用規約
        .group__list2
          %ul.leftlist
            %li プライバシーポリシー
            %li メルカリ利用規約
            %li あんしんスマホサポート制度に関する利用規約
            %li コンプライアンスポリシー
          %ul.rightlist
            %li 個人データの安全管理に係る基本方針
            %li 特定商取引に関わる表記
            %li 資金決済法に基づく表示
            %li 法令順守と犯罪抑止のために
      .group
        %h3 国
        %ul
          %li 日本
          %li United States

    .footer__downbox__logobar
      = link_to image_tag("https://web-jp-assets.mercdn.net/_next/static/images/logo-white-1a0696cf557ee1ed6f3c3444661d21ad.svg",class: "logo"), root_path
      %p.name ©️2019 Mercari

