= render 'layouts/header'
.search-container.l-container.clearfix
  .l-content
    %section.item-box-container.clearfix
      %h2.search-result-head
        = params[:value]
        %span.search-result-text
          検索結果
      .search-result-number
        = @items.length
        件の表示
      .items-box-content.clearfix
        - @items.each do |item_list|
          .onebox
            = link_to '', item_path(item_list),class: "show-item-link"
            .upbox

              - if item_list.status == 1
                .sold-bar
                .sold-text SOLD
                %span.price
                  ¥#{item_list.price}
                = image_tag("#{item_list.images[0].main_image}", class: "image")
              - else
                %span.price
                  ¥#{item_list.price}
                = image_tag("#{item_list.images[0].main_image}", class: "image")

            .downbox
              = item_list.name