%body
  .user__header
    %header.user__header__sns
      %h1
        =link_to"/" do
          = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3296506464", alt: 'mercari', height: '65', width: '80'

  .user__main
    .user__main__container
      %h2.user__main__registration 新規会員登録
      .user__main__form
        .user__main__form__container
          = link_to"#" , class: :underbar__mail do
            .user__field__mail
              %i.far.fa-envelope
              %p メールアドレスで登録

      .user__main__form
        .user__main__form__container
          = link_to"#" , class: :underbar__fb do
            .user__field__fb
              %i.fab.fa-facebook-square
              %p Facebookで登録

      .user__main__form
        .user__main__form__container
          = link_to"#", class: :underbar__google do
            .user__field__google
              %i.fab.fa-google
              %p.aiu Googleで登録

= render partial: 'footter'