%link{href: "https://use.fontawesome.com/releases/v5.6.1/css/all.css", rel: "stylesheet"}
.item__content
  %header.item__header
    %h1.item__header__name
    = link_to '#' do
      .item__main__image
        = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3296506464", alt: 'mercari',class: 'item__mercari'
  .item__main

    .item__main__content

      .item__main__content__box
        .item__main__content__box__inner
        %h2.head__message 商品の情報を入力
        = form_for(@item, url:item_path,method: :patch) do |f|
          .item__sell__form
            .sell__image__box
              %h3.sell__image__box__upper
                出品画像
                %span.item__form__require
                  必須
              %p.item__upload__comments
                最大10枚までアップロードできます
              .sell__image__box__image__area
                = f.file_field :image, class: ".item__upload__box", placeholder: ""

            .sell__content__item__name
              .item__group
                %label.item__upper__message
                  商品名
                  %span.item__form__require
                    必須
                %div.input
                = f.text_field :name, class: "input-default", placeholder: "商品名（必須 40文字まで)"
              .item__group#item__descriptioon
                %label.item__upper__message
                  商品の説明 
                  %span.item__form__require
                    必須
                %div
                =f.text_area :description, class: "textarea-default", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", rows: "5"


            .sell__content__items__detail
              %h3.item__form__message
                商品の詳細
              .sell__content__item__form
                .item__group
                  %label.item__upper__message
                    カテゴリー
                    %span.item__form__require
                      必須
                  %div.select__btn
                    %i.fas.fa-chevron-down
                    = f.collection_select :category_id, Category.all, :id, :name, {prompt: "---"},class: 'item__select__list'
                  -# カテゴリの詳細機能を追加する際に使用
                  -# %div.select__btn
                  -#   %i.fas.fa-chevron-down
                  -#   = f.collection_select :category_id, @category.parent.name, :id, :name, {prompt: "---"},class: 'item__select__list'
                  -# %div.select__btn
                  -#   %i.fas.fa-chevron-down
                  -#   = f.collection_select :category_id, @category.name, :id, :name, {prompt: "---"},class: 'item__select__list'

                .item__group__margin
                  %label.item__upper__message
                    サイズ
                    %span.item__form__require
                      必須
                  %div.select__btn
                    %i.fas.fa-chevron-down
                    = f.collection_select :size_id , Size.all,:id,:clothes ,{ prompt: "---"} ,class: "item__select__list"                    
                .item__group__margin
                  %label.item__upper__message
                    ブランド
                    %span
                      任意
                  %div
                    = f.fields_for :brand do |i|
                      = i.text_field :name , class: "item__select__list", placeholder: "例)シャネル"
                .item__group__margin
                  %label.item__upper__message
                    商品の状態
                    %span.item__form__require
                      必須
                  %div.select__btn
                    %i.fas.fa-chevron-down
                    = f.collection_select :condition, Condition.all, :id, :name, {prompt: "---"},class: 'item__select__list'


            .sell__content__items__delibery
              = f.fields_for :delibery do |i|
                %h3.item__form__message
                  配送について
                %a.fas.fa-question-circle
                = link_to ""
                .sell__content__item__form
                  .item__group
                    %label.item__upper__message
                      配送料の負担
                      %span.item__form__require
                        必須
                    %div.select__btn
                      %i.fas.fa-chevron-down
                      = i.select :delibery_burden, [["送料込み(出品者負担)", "送料込み(出品者負担)"], ["着払い(購入者負担)", "着払い(購入者負担)"]], {prompt: "---"},class: "item__select__list"
                  .item__group__margin
                    %label.item__upper__message
                      配送の方法
                      %span.item__form__require
                        必須
                    %div.select__btn
                      %i.fas.fa-chevron-down
                      = i.select :delibery_way, [["未定", "未定"], ["クロネコヤマト", "クロネコヤマト"], ["ゆうパック", "ゆうパック"], ["ゆうメール", "ゆうメール"]], {prompt: "---"},class: "item__select__list"
                  .item__group__margin
                    %label.item__upper__message
                      発送元の地域
                      %span.item__form__require
                        必須
                    %div.select__btn
                      %i.fas.fa-chevron-down
                      = i.collection_select :prefecture , Prefecture.all, :id, :name, {prompt: "---"},class: "item__select__list"
                  .item__group__margin
                    %label.item__upper__message
                      発送までの日数
                      %span.item__form__require
                        必須
                    %div.select__btn
                      %i.fas.fa-chevron-down
                      = i.select :delibery_date, [["1~2日で発送", "1~2日で発送"], ["2~3日で発送", "2~3日で発送"], ["4~7日で発送", "4~7日で発送"]], {prompt: "---"},class: "item__select__list"
                    
            .sell__content__item__price
              %h3.item__form__message
                販売価格(300〜9,999,999)
                %a.fas.fa-question-circle
                = link_to ""
              .sell__content__item__price__form
                %li.item__group#pay_yen
                  %label.item__upper__message#price__label
                    価格
                    %span.item__form__require
                      必須
                  %div.select__btn
                    .item__selecter
                    =f.label :¥ ,class:'japanese_yen'
                    =f.text_field :price, maxlength: "7", placeholder: "例)300", class: "item__select__price", id: 'calculation'
                %li.comission
                  .comission__left
                    販売手数料 (10%)
                  .comission__right
                    ー
                %li.profit
                  .profit__left
                    販売利益
                  .profit__right
                    ー

            .sell__content__item__submit
              .sell__content__item__submit__form
                =f.submit :更新する,class: "btn-default btn-red"
                %button.btn-default.btn-gray もどる
            

  %footer.item__footer
    .item__footer__box
      %nav.item__footer__box__list
        %ul.text__clearfix
          %li.text__clearfix__item
            = link_to 'プライバシーポリシー',"https://www.mercari.com/jp/privacy/", class:"head_up"
          %li.text__clearfix__item
            = link_to 'メルカリ利用規約',"https://www.mercari.com/jp/tos/", class:"head_up"
          %li.text__clearfix__item
            = link_to '特定商取引に関する表記',"https://www.mercari.com/jp/tokutei/", class:"head_up"
        = link_to 'https://www.mercari.com/jp/' do
          = image_tag '//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3296506464', alt: 'mercari', height: '65', width: '80', class: 'single-footer-logo'
      %p
        %small.item__footer__logo © 2019 Mercari
        
