%link{href: "https://use.fontawesome.com/releases/v5.6.1/css/all.css", rel: "stylesheet"}
.item__content
  %header.item__header
    %h1.item__header__name
    = link_to '#' do
      .item__main__image
        = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3296506464", alt: 'mercari',class: 'item__mercari'
  .item__main


  .buy-main
    .buy-main__content
      %h2.buy-main__content__header
        購入内容の確認
      .buy-main__content__item
        .buy-main__content__item__inner
          %h3.buy-main__content__item__image
            = image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsN8HRK3mRNnpktFJcymF4pUWArw8CW2nGk0ytizFoyNBu5yB59w', alt: '', height: '85px', width: '64px', class: ''
          %p.buy-main__content__item__name
            LGTMの値段
          .buy-main__content__item__form
            %p.buy-main__content__item__price
              ¥1990
              %span.buy-main__content__item__commission
                送料込み
            %ul.buy-main__content__item__point
              %li.buy-main__content__item__num
                %div.buy-main__content__item__num__form
                  none point
            %ul.buy-main__content__item__pay
              %li.buy-main__content__item__pay__num
                .buy-main__content__item__you__pay
                  支払金額
                .buy-main__content__item__buy__num
                  ¥1990
                  %span.item-num
            %button.buy-btn
              購入する
            
            = form_tag(action: :pay, method: :post) do
              %script.payjp-button{"data-key" => "pk_test_0383a1b8f91e8a6e3ea0e2a9", "data-on-created" => "onCreated", "data-partial" => "true", "data-submit-text" => "支払う", "data-text" => "購入する", :src => "https://checkout.pay.jp/", :type => "text/javascript"}:cdata



      .buy-main__content__user__info
        .buy-main__content__user__inner
          %h3.buy-delibery-address
            配送先
          .buy-delibery-address__users
            %br〒542-0076
            %br大阪府大阪市中央区難波５丁目１−６０
            %br User
          %p.buy-main__content__user__text
          = link_to  "#", class: 'buy-user-info-fix' do
            変更する
            %i.fas.fa-chevron-right

      .buy-main__content__pay__info
        .buy-main__content__user__inner
          %h3.buy-how-to-pay
            支払方法
          %p.buy-main__content__user__text
          .buy-main__content__user__card
            %p.buy-main__content__user__card__num
              %br 123456789123
              %br 01/24
            = image_tag 'https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/American_Express_logo_%282018%29.svg/1200px-American_Express_logo_%282018%29.svg.png', alt: '', height: '22px', width: '22px', class: 'payment-card-image'
          = link_to  "#", class: 'buy-user-info-fix' do
            変更する
            %i.fas.fa-chevron-right
            


  %footer.item__footer
    .item__footer__box
      %nav.item__footer__box__list
        %ul.text__clearfix
          %li.text__clearfix__item
            = link_to 'プライバシーポリシー',"https://www.mercari.com/jp/privacy/", class:"head_up"
          %li.text__clearfix__item
            = link_to 'メルカリ利用規約',"https://www.mercari.com/jp/tos/", class:"head_up"
          %li.text__clearfix__item
            = link_to '特定商取引に関する表記',"https://www.mercari.com/jp/tokutei/", class:"head_up"
        = link_to 'https://www.mercari.com/jp/' do
          = image_tag '//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3296506464', alt: 'mercari', height: '65', width: '80', class: 'single-footer-logo'
      %p
        %small.item__footer__logo © 2019 Mercari