
%body
  %section.item-box
    %h1.item-box__name 
      = @item.name
    .item-box__main
      .item-box__main__photo
        .item-box__main__photo__upper
          .item-box__main__photo__upper__stage
            .item-box__main__photo__upper__stage__active
              .item-box__main__photo__upper__stage__active__inner
                %image.item-box__main__photo__upper__stage__active__inner__image{alt: "ムスカ", src: "https://pbs.twimg.com/media/CpFvBf7VMAAcnkA.jpg"}
                /商品の画像
            .item-box__main__photo__upper__stage__active
              .item-box__main__photo__upper__stage__active__inner
                %image.item-box__main__photo__upper__stage__active__inner__image{alt: "ゴリ", src: "https://rr.img.naver.jp/mig?src=http%3A%2F%2Fimgcc.naver.jp%2Fkaze%2Fmission%2FUSER%2F20131228%2F25%2F2226915%2F68%2F400x276x498b416677fead5aaab4a5fb.jpg%2F300%2F600&twidth=300&theight=600&qlt=80&res_format=jpg&op=r"}
        .item-box__main__photo__dots
          - @item.images.each do |image|
            .item-box__main__photo__dots__dot
              -if image.main_image?
                = image_tag image.main_image
              -# %span
              -# .item-box__main__photo__dots__dot__inner
              -#   %image.item-box__main__photo__dots__dot__inner__image{ src: "#{item.image.main_image}"}
                /全商品を表示
          .item-box__main__photo__dots__dot
            %span
            .item-box__main__photo__dots__dot__inner
              %image.item-box__main__photo__dots__dot__inner__image{alt: "ゴリ", src: "https://rr.img.naver.jp/mig?src=http%3A%2F%2Fimgcc.naver.jp%2Fkaze%2Fmission%2FUSER%2F20131228%2F25%2F2226915%2F68%2F400x276x498b416677fead5aaab4a5fb.jpg%2F300%2F600&twidth=300&theight=600&qlt=80&res_format=jpg&op=r"}
      %table.item-box__main__table
        %tbody
          %tr
            %th 出品者
            %td 
              = link_to "#{@item.user.nickname}", "", class: 'a'
              %div
                .item-user-rating
                  %i.fas.fa-laugh-squint
                  %span 0
                  /評価を実装できたらここに持ってくる
                .item-user-rating
                  %i.fas.fa-meh
                  %span 0
                .item-user-rating
                  %i.fas.fa-tired
                  %span 10000
          %tr
            %th カテゴリー
            %td
              = link_to "#{@item.category.name}", "", class: 'a' 
              /カテゴリ(親)
              = link_to "",class: 'a' do
                /カテゴリ(子)
                %div
                  %i.fas.fa-angle-right
                  腹の上が
              = link_to "",class: 'a' do
                /カテゴリ(孫)
                %div
                  %i.fas.fa-angle-right
                  ポニョ
          %tr
            %th ブランド
            %td
              = link_to "ジブリ", "", class: 'a' 
              /ブランドへのリンク
          %tr
            %th 商品の状態
            %td
              = @item.condition
          %tr
            %th 配送料の負担
            %td 送料別
          %tr
            %th 配送の方法
            %td 飛行石
          %tr
            %th 配送元地域
            %td
              = link_to "#{@item.user.address.prefecture}", "", class: 'a'
              /出品者の都道府県
          %tr
            %th 発送日の目安
            %td 3分間待ってやる
    .item-box__price
      %span.item-box__price__bold $1,000,000
      / = item.prise
      %span.tax (税込)
      %span.shipping 送料別
      /送料を表示
    = link_to '購入画面に進む', hop1_path, class: 'buy-bottun' 
    /商品購入画面へのリンク
    .description
      %p  常に吠える。エサをやり忘れると噛み付きますがご使用上の問題は特にありません。人語理解！激カワ超オススメ!!
      /商品の説明を表示 = item.description
    .container
      .container__left
        %button.button-like
          %i.fas.fa-thumbs-up
          %span 不错!
          %span.fade-in-down -100
          /ここにイイね数
        = link_to "", class: 'report' do
          %i.fas.fa-wifi
          %span 不適切な商品の報告
      .container__right
        = link_to "" do
          %i.fas.fa-briefcase
          %span あんしん・あんぜんへの取り組み
  .item-message
    .item-message__main
      .item-message__main__content
        = form_with 
        %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %textarea.text_field
        %button.message-button
          %span コメントする
  %ul.prev-next-link
    %li.prev-link
      = link_to "", class: 'a' do
        %i.fas.fa-angle-left
        魔女の脱臼瓶
        /前のリンク
    %li.next-link
      = link_to "", class: 'a' do
        風呂の水がヘルシア
        /次のリンク
        %i.fas.fa-angle-right
  .item-socialmedia
    %ul.item-socialmedia__box
      %li
        = link_to "https://www.facebook.com" do
          %i.fab.fa-facebook-square
      %li
        = link_to 'https://twitter.com/' do
          %i.fab.fa-twitter
      %li
        = link_to 'https://www.pinterest.jp/' do
          %i.fab.fa-pinterest
      %li
        = link_to 'https://www.instagram.com/', class: 'insta_btn' do
          %span.insta
            %i.fab.fa-instagram
      %li
        = link_to 'https://line.me/ja/', class: 'line-btn' do
          %i.fab.fa-line
  .item-user-profiele
    %section
      %h2 
        = link_to 'ムスカ大佐のその他の出品', "", class: 'a'
        /出品者のマイページへ
      
      .main__contents__itemlist__items
        .onebox
          .upbox
            %span.price ¥800
            = image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/David_-_Napoleon_crossing_the_Alps_-_Malmaison1.jpg/540px-David_-_Napoleon_crossing_the_Alps_-_Malmaison1.jpg", class: "image")
          .downbox
            ナポレオン・ボナパルト
.footer
  .footer__upbox
    = image_tag "footer.jpg", class: "footer-image"
  .footer__downbox
    .footer__downbox__menu
      .group
        %h3 メルカリについて
        %ul
          %li 会社概要（運営会社）
          %li 採用情報
          %li プレスリリース
          %li 公式ブログ
          %li メルカリロゴ利用ガイドライン
      .group
        %h3 ヘルプ＆ガイド
        %ul
          %li メルカリガイド
          %li らくらくメルカリ便
          %li ゆうゆうメルカリ便
          %li 大型メルカリ便
          %li 車体取引ガイド
          %li メルカリあんしん・あんぜん宣言！
          %li 偽ブランド品撲滅への取り組み
          %li メルカリボックス
      .group
        %h3 プライバシーと利用規約
        .group__list2
          %ul.leftlist
            %li プライバシーポリシー
            %li メルカリ利用規約
            %li あんしんスマホサポート制度に関する利用規約
            %li コンプライアンスポリシー
          %ul.rightlist
            %li 個人データの安全管理に係る基本方針
            %li 特定商取引に関わる表記
            %li 資金決済法に基づく表示
            %li 法令順守と犯罪抑止のために
      .group
        %h3 国
        %ul
          %li 日本
          %li United States
    .footer__downbox__logobar
      = link_to image_tag("https://web-jp-assets.mercdn.net/_next/static/images/logo-white-1a0696cf557ee1ed6f3c3444661d21ad.svg",class: "logo"), root_path
      %p.name ©️2019 Mercari