!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Mercari2
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    %script{:crossorigin => "anonymous", :integrity => "sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=", :src => "https://code.jquery.com/jquery-3.3.1.js"}
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{ href: "https://use.fontawesome.com/releases/v5.6.3/css/all.css", rel: "stylesheet"}/
    :css
      a:hover   { text-decoration: underline; }
    %script{ src: "https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"}
    
  %body
  %header
    .top
      .top__contents
        .top__contents__upbox
          .top__contents__upbox__logo
            = link_to image_tag("https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg",class: "m-logo"), root_path
          .top__contents__upbox__search
            %input{name: "keyword", placeholder: "何かお探しですか？", type: "search", class: "s-form" }
            = link_to new_user_registration_path, method: :get do
              %i.fas.fa-search.icon-search

        .top__contents__downbox
          .top__contents__downbox__leftbox
            %li.category-btn
              %i.fas.fa-list.redicon
              %a カテゴリーから探す
              %ul
            %li.bland-btn
              %i.fas.fa-tag.redicon
              %a ブランドから探す

          .top__contents__downbox__rightbox
            - if user_signed_in?
              .reft-btn
                = link_to "ログアウト", destroy_user_session_path, method: :delete
              .right-btn
                %a.post{ href: "/tweets/new"} 投稿する
            - else
              .reft-btn
                = link_to "新規会員登録", new_user_registration_path, class: 'signup-btn'
              .right-btn
                = link_to "ログイン", new_user_session_path, class: 'login-btn'

    = yield
